################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductManagement.Server/bin/Debug/net6.0
/ProductManagement.Server/obj
